<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>{% block title %}おいしい果物{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-light" style="background-color: #00f10c;">
  <span class="navbar-brand mb-0 h1">果物判別</span>
  {% if user.is_authenticated %}
    <span id="logout" style="font-size:15px; text-align: right;">
    <a href="{% url 'logout' %}" style="color: white; text-decoration: underline;">
      こんにちは、{{ user.username }}
    </a>
    </span>
  {% endif %}
</nav>

<div class="contents" style="margin:0 20px">
  {% block content %}

  {% endblock %}
</div>
</body>
</html>